@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
