.blog-content h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 2rem;
    color: rgb(252 211 77 / var(--tw-text-opacity, 1));
    font-weight: bold;
}

.blog-content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.blog-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.blog-content li {
    list-style: square;
}

.blog-content code {
    background-color: #222222;
}
