<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 - {%translate "Not found" }</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'img/favicon.ico' %}"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-red-600 mb-4">404</h1>
            <p class="text-2xl text-gray-700 mb-8">
                {% translate "The requested resource could not be found" %}
            </p>
            <a
                href="/"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
                {% translate "Return to Home" %}
            </a>
        </div>
    </body>
</html>
