{% block content %}
<style type="text/css">
    .sidenav {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }

   .dialog-content {
        width: 100px;
        height: 100px;
    }
</style>

<dialog id="my_modal_1" class="modal rounded-lg absolute">
    <div class="modal-box" style="padding: 1rem; text-align: center;">
        <h3 class="text-lg font-bold">Tem certeza que deseja remover "{{title}}" ?</h3>
        <div class="grid-cols-2 space-x-4" style="justify-content: center; display: flex; padding: 0.5rem;">
            <button class="px-6 py-3 bg-red-500 text-white rounded-lg" id="remove-button" onclick="deleteTimer(this)">Sim</button>
            <button class="px-6 py-3 bg-gray-500 text-white rounded-lg" onclick="my_modal_1.close()">Não</button>
        </div>
</dialog>

<div class="sidenav w-1/4 h-screen bg-gray-500">
        <ul clas="flex flex-col gap-5 overflow-auto text-sm max-h-full">
            {% for item in timer_list %}
            <!--Item-->
            {% if item.id == uuid %}
            <li class="flex center bg-gray-500 text-white p-8">
                {{item.title}}
            </li>
            {% else %}
            <li class="flex flex-row center p-8 bg-gray-500">
                <a class="text-white" href="{% url 'timer-view' uuid=item.id %}">{{item.title}}</a>
                <span class="ml-8"
                    onclick="toggleDialogWithId('{{item.id}}')"
                    style="cursor: pointer; color: #818181;"
                >🗑️</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <!--End item-->
</div>
<script>
    function toggleDialogWithId(item_id) {
        // Get the button by id
        const remove_button = document.getElementById("remove-button");

        // Set data-id to the id of the element
        remove_button.setAttribute("data-id", item_id);

        // Open the dialog
        my_modal_1.showModal();
    }

    function deleteTimer(element) {
        const timer_id = element.getAttribute("data-id")
        fetch(`/timer/${timer_id}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
              my_modal_1.close();
              updateRemoteTimer(currentStatus, timeLeft, true);
              window.location.reload();
            })
            .catch((error) => {
                console.error("Error: ", error);
            });
    }
</script>

{% endblock %}
