{% block content %}
<style type="text/css">
    .sidenav {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }

   .dialog-content {
        width: 100px;
        height: 100px;
    }

    .custom-li {
        padding: 10px;
    }

    .custom-li:hover {
        padding: 10px;
        background-color: #aaa;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<dialog id="my_modal_1" class="modal rounded-lg absolute">
    <div class="modal-box" style="padding: 1rem; text-align: center;">
        <h3 class="text-lg font-bold">Tem certeza que deseja remover "{{title}}" ?</h3>
        <div class="grid-cols-2 space-x-4" style="justify-content: center; display: flex; padding: 0.5rem;">
            <button class="px-6 py-3 bg-red-500 text-white rounded-lg" id="remove-button" onclick="deleteTimer(this)">Sim</button>
            <button class="px-6 py-3 bg-gray-500 text-white rounded-lg" onclick="my_modal_1.close()">Não</button>
        </div>
</dialog>

<div class="sidenav w-32 h-screen shadow-md">
    <h1 class="text-black-lg text-bold" style="padding: 10px;">Menu</h1>
    <ul class="flex flex-col overflow-auto text-sm max-h-full">
        {% for item in timer_list %}
            <!--Item-->
            {% if item.id == uuid %}
            <li class="flex text-black-lg text-center"  style="padding: 10px; border-radius: 5px; background-color: #ddd">
                <p>{{item.title}}</p>
            </li>
            {% else %}
            <li>
                <div class="custom-li">
                <a class="text-black-lg" href="{% url 'timer-view' uuid=item.id %}">{{item.title}}</a>
                <span class="ml-8"
                    onclick="toggleDialogWithId('{{item.id}}')"
                    style="cursor: pointer; color: #818181;"
                >🗑️</span>
                </div>
            </li>
            {% endif %}
            <!--End item-->
        {% endfor %}
    </ul>
</div>
<script>
    function toggleDialogWithId(item_id) {
        // Get the button by id
        const remove_button = document.getElementById("remove-button");

        // Set data-id to the id of the element
        remove_button.setAttribute("data-id", item_id);

        // Open the dialog
        my_modal_1.showModal();
    }

    function deleteTimer(element) {
        const timer_id = element.getAttribute("data-id")
        fetch(`/timer/${timer_id}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
              my_modal_1.close();
              updateRemoteTimer(currentStatus, timeLeft, true);
              window.location.reload();
            })
            .catch((error) => {
                console.error("Error: ", error);
            });
    }
</script>

{% endblock %}
